<h1>Todo List</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="input-group search-bar-spacing">
      <span class="input-group-btn">
        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText"></input>
    </div>
  </div>
</div>

<div class="panel panel-default title-bar">
    <div class="panel-body">
      <div class="col-xs-1"></div>
      <div class="col-xs-6">Task</div>
      <div class="col-xs-2">Due Date</div>
      <div class="col-xs-2">Assigned To</div>
      <div class="col-xs-1">
      </div>
    </div>
  </div>

<div ng-repeat="thing in items | filter: searchText">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1">
        <input type="checkbox" name="">
      </div>
      <div class="col-xs-6"><a ng-href="#/items/{{thing.id}}">{{thing.task}}</a></div>
      <div class="col-xs-2">{{thing.dueDate}}</div>
      <div class="col-xs-2">{{thing.assignedTo}}</div>
      <div class="col-xs-1">
        <button class="btn btn-danger" ng-click="itemDelete(thing.id)"><i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
