<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="TodoApp">
  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo App</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-repeat="items in navItems">
        <li><a href="#">{{items.name}}</a></li>
      </ul>
     </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div ng-controller="TodoCtrl">


    <div class="row">

      <div class="col-xs-6 col-xs-offset-3">
        <button class="col-xs-6 btn btn-success" ng-click="newItem()">New Item</button>
        <button class="col-xs-6 btn btn-info" ng-click="allItem()">All Items</button>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 main-container">

        <div class="col-xs-12" ng-show="showListView">
          <h1>Todo List</h1>
        </div>
        
        <div class="col-xs-12" ng-show="!showListView"> 
          <h1>New Todo</h1>
          <form>

            <div class="form-group">
              <label>Task Description</label>
              <input type="text" class="form-control" placeholder="some important task" ng-model="newTask.task"></input>
            </div>

            <div class="form-group">
              <label>Due Date</label>
              <input type="text" class="form-control" placeholder="Yesterday" ng-model="newTask.dueDate"></input>
            </div>

            <div class="form-group">
              <label>Who is doing this?!</label>
              <input type="text" class="form-control" placeholder="your mom" ng-model="newTask.assignedTo"></input>
            </div>

            <div class="form-group">
              <label>Urgency</label>
              <input type="text" class="form-control" placeholder="low" ng-model="newTask.urgency"></input>
            </div>

            <div class="form-group">
              <label>Dependencies</label>
              <input type="text" class="form-control" placeholder="stuff" ng-model="newTask.dependencies"></input>
            </div>
          </form>
        </div>

      </div>

    </div>
    




  </div>


  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>

</body>
</html>