body {
  background-color: bisque;
  color: black; }

h1, h2 {
  text-align: center; }

.main-container {
  border: 2px dashed red; }

.search-bar-spacing {
  margin-bottom: 20px; }

.title-bar {
  font-weight: bold; }
